@import "/stories/styles/main.scss";

.x-grid {
  overflow: auto;
  border-radius: var(--border-radius-m);
  border-width: var(--size-global-stroke-width);
  border-color: var(--color-border-primary);
  border-style: solid;

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__header-row {
    background-color: var(--surface-primary);
    height: var(--size-grid-default-height);
    border-width: var(--size-global-stroke-width);
    border-color: var(--color-border-primary);
    border-style: solid;
    border-top: none;
  }

  &__filter-row {
    background-color: var(--surface-primary);
    border-width: var(--size-global-stroke-width);
    border-color: var(--color-border-primary);
    border-style: solid;
    border-top: none;
  }

  &__cell {
    min-width: var(--size-grid-min-width);
    border-width: var(--size-global-stroke-width);
    border-color: var(--color-border-primary);
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding: var(--gap-xs) var(--gap-s);

    &:last-of-type {
      border: none;
    }

    &--header {
      text-align: left;
      color:var(--color-text-title);
    }

    &--filter {
      padding: var(--gap-s) var(--gap-s);
      .x-textfield__input {
        width: -webkit-fill-available;
      }
    }
  }

  &__row {
    min-height: var(--size-grid-default-height);
    border-width: var(--size-global-stroke-width);
    border-color: var(--color-border-primary);
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: var(--color-grid-even-default);
    transition: var(--base-transition);
    color:var(--color-text-default);

    &:nth-child(odd) {
      background-color: var(--color-grid-odd-default);
    }
    &:hover {
      background-color: var(--color-grid-even-hover);
      .x-grid__row {
        &:nth-child(odd) {
          background-color: var(--color-grid-odd-hover);
        }
      }
    }
  }
}
