@import "/stories/styles/main.scss";
.x-dialog {
  &__overlay {
    @include flex-center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--surface-dialog-mask);
    z-index: 10000;
    transition: var(--base-transition);
  }

  &__container {
    position: relative;
    @include flex-column;
    transition: var(--base-transition);
    gap: var(--gap-s);
    background-color: var(--surface-primary);
    border-radius: var(--border-radius-m);
    min-width: var(--size-mobile-width);
    max-width: 95vw;
    width: 95%;
    max-height: 95vh;
    overflow: auto;
    box-shadow: var(--shadow-global-position-x) var(--shadow-global-position-y)
      var(--shadow-global-blur) var(--shadow-global-spread)
      var(--shadow-global-color);
  }

  &__header {
    @include flex-space-between;
    padding: var(--gap-l) var(--gap-xl);
    transition: var(--base-transition);
  }

  &__title{
    margin:var(--gap-none);
    transition: var(--base-transition);
  }

  &__close{
    padding: var(--gap-none) var(--gap-xs);
  }

  &__body {
    padding: var(--gap-none) var(--gap-xl) var(--gap-xl) var(--gap-xl);
    transition: var(--base-transition);
  }

  &__footer {
    @include flex-row(flex-end,center);
    gap:var(--gap-s);
    margin: var(--gap-l) var(--gap-xl);
    transition: var(--base-transition);
  }


}
