@import "/stories/styles/main.scss";

.x-footer{
    @include flex-space-between;
    background-color: var(--surface-primary);
    width: 100%;
    padding: var(--gap-xs) var(--gap-ml);

    &__disclaimer{
        color: var(--color-text-title);
    }
}