@import "/stories/styles/main.scss";

.x-footer{
    @include flex-space-between;
    background-color: var(--surface-primary);
    min-width: var(--size-desktop-min-width);
    max-width: var(--size-desktop-max-width);
    padding: var(--gap-xs) var(--gap-ml);

    &__disclaimer{
        color: var(--color-text-title);
    }
}