@import "/stories/styles/main.scss";

.x-widget-spend {
  @include flex-column(flex-start, stretch);
  min-width: 200px;
  padding: var(--gap-xxl) var(--gap-xxl);
  background-color: var(--surface-primary);
  border-radius: var(--border-radius-m);
  gap: var(--gap-xl);
  box-shadow: var(--shadow-global-position-x) var(--shadow-global-position-y)
    var(--shadow-global-blur) var(--shadow-global-spread)
    var(--shadow-global-color);

  &__header {
    @include flex-space-between;
  }

  &__title {
    color: var(--color-text-title);
    margin: var(--gap-none) var(--gap-none);
  
  }

  &__chart {
    width: 100%;
    gap: var(--gap-m);
    @include flex;
  }

  &__chart-wrapper {
    width: 100%;
    max-width: 90px;
    height: 90px;
  }

  &__legend{
    width: 100%;
    @include flex-row(flex-start, flex-start);
    gap: var(--gap-m);
  }
}
