@import "/stories/styles/main.scss";

.x-button {
  @include flex-center;
  cursor: pointer;
  border-width: var(--size-global-stroke-width);
  border-style: solid;
  gap: var(--gap-xs);
  border-radius: var(--border-radius-m);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-default);
  line-height: var(--line-height-sm);
  height: var(--size-global-default-height);
  transition: var(--base-transition);
  padding: var(--gap-s) var(--gap-xl);

  &--disabled,
  &:disabled,
  [disabled] {
    cursor: not-allowed;
  }
}

.x-button__solid {
  background-color: var(--button-solid-background-default);
  color: var(--button-solid-text-default);
  border-color: var(--button-solid-border-default);

  &.x-button {
    &--hover,
    &:hover {
      background-color: var(--button-solid-background-hover);
      color: var(--button-solid-text-hover);
      border-color: var(--button-solid-border-hover);
    }

    &--disabled,
    &:disabled,
    [disabled] {
      background-color: var(--button-solid-background-disabled);
      color: var(--button-solid-text-disabled);
      border-color: var(--button-solid-border-disabled);
    }
  }
}

.x-button__outline {
  background-color: var(--button-outline-background-default);
  color: var(--button-outline-text-default);
  border-color: var(--button-outline-border-default);

  &.x-button {
    &--hover,
    &:hover {
      background-color: var(--button-outline-background-hover);
      color: var(--button-outline-text-hover);
      border-color: var(--button-outline-border-hover);
    }

    &--disabled,
    &:disabled,
    [disabled] {
      background-color: var(--button-outline-background-disabled);
      color: var(--button-outline-text-disabled);
      border-color: var(--button-outline-border-disabled);
    }
  }
}

.x-button__flat {
  background-color: var(--button-flat-background-default);
  color: var(--button-flat-text-default);
  border-color: var(--button-flat-border-default);

  &.x-button {
    &--hover,
    &:hover {
      background-color: var(--button-flat-background-hover);
      color: var(--button-flat-text-hover);
      border-color: var(--button-flat-border-hover);
    }

    &--disabled,
    &:disabled,
    [disabled] {
      background-color: var(--button-flat-background-disabled);
      color: var(--button-flat-text-disabled);
      border-color: var(--button-flat-border-disabled);
    }
  }
}
