@import "/stories/styles/main.scss";

.x-header{
    @include flex-space-between;
    background-color: var(--surface-primary);
    min-width: var(--size-desktop-min-width);
    max-width: var(--size-desktop-max-width);
    padding: var(--gap-s) var(--gap-ml);

    &__right-column{
        @include flex;
        gap: var(--gap-s);
        align-items: center;
    }
}