@import "/stories/styles/main.scss";

.x-header{
    @include flex-space-between;
    background-color: var(--surface-primary);
    width: 100%;
    padding: var(--gap-s) var(--gap-ml);

    &__right-column{
        @include flex;
        gap: var(--gap-s);
        align-items: center;
    }
}