@import "/stories/styles/main.scss";
.x-widget-overview {
  @include flex-column(flex-start, stretch);
  padding: var(--gap-xxl) var(--gap-xxl);
  background-color: var(--surface-primary);
  border-radius: var(--border-radius-m);
  gap: var(--gap-xl);
  box-shadow: var(--shadow-global-position-x) var(--shadow-global-position-y)
    var(--shadow-global-blur) var(--shadow-global-spread)
    var(--shadow-global-color);

  &__header {
    @include flex-space-between;
  }

  &__title {
    margin: var(--gap-none) var(--gap-none);
  }

  &__controls {
    @include flex-space-between;
  }

  &__chart-wrapper {
    position: relative;
    height: 300px; // or whatever fixed/relative height you need
    width: 100%;
  }

  &__legend{
    @include flex-row(center, center);
    width: 100%;
    gap: var(--gap-m);
  }
}
