@import "/stories/styles/main.scss";

.x-button-menu {
  @include flex-column(center, center);
  cursor: pointer;
  position: relative;
  border-width: var(--size-global-stroke-width);
  border-style: solid;
  gap: var(--gap-xxs);
  border-radius: var(--border-radius-total);
  min-height: var(--size-xl-icon-height);
  min-width: var(--size-xl-icon-width);
  transition: var(--base-transition);
  padding: var(--gap-s);

  &__image {
    border-radius: var(--border-radius-total);
  }

  &--disabled,
  &:disabled,
  [disabled] {
    cursor: not-allowed;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--color-highlight);
    width: var(--size-xxs-icon-width);
    height: var(--size-xxs-icon-height);
    border-radius: var(--border-radius-total);
    transition: var(--base-transition);
    z-index: 2;
    opacity: 0;
  }

  &--active {
    &::after {
      opacity: 1;
    }
  }
}

.x-button-menu__primary {
  background-color: var(--surface-fourth);
  color: var(--color-icon-default);
  border-color: var(--surface-fourth);

  &.x-button-menu {
    &--hover,
    &:hover {
      background-color: var(--surface-secondary);
      color: var(--surface-primary);
      border-color: var(--surface-secondary);
    }

    &--disabled,
    &:disabled,
    [disabled] {
      background-color: var(--button-solid-background-disabled);
      color: var(--button-solid-text-disabled);
      border-color: var(--button-solid-border-disabled);
    }
  }
}

.x-button-menu__secondary {
  @include flex;
  flex-wrap: wrap;
  flex-direction: inherit;
  justify-content: flex-start;
  min-width: var(--size-global-inputs-width);
  width: var(--size-global-dropdown-min-width);
  max-width: var(--size-global-dropdown-max-width);
  min-height: auto;
  border-radius: var(--border-radius-m);
  background-color: var(--surface-primary);
  color: var(--surface-secondary);
  border-color: var(--surface-primary);

  &__image {
    border-radius: var(--border-radius-m);
    border-color: var(--surface-fourth);
  }

  &.x-button-menu {
    &--hover,
    &:hover {
      background-color: var(--surface-fifth);
      color: var(--color-highlight);
      border-color: var(--surface-fifth);
    }

    &--disabled,
    &:disabled,
    [disabled] {
      background-color: var(--surface-fourth);
      color: var(--color-text-disabled);
      border-color: var(--surface-fourth);
    }

    &--active {
      background-color: var(--surface-secondary);
      color: var(--surface-primary);
      border-color: var(--surface-secondary);
      &::after {
        opacity: 0;
      }
    }
  }
}

.x-button-menu__tertiary {
  @include flex-column(center, center);
  width: var(--size-desktop-menu-collapse-width);
  min-height: auto;
  border-radius: var(--border-radius-m);
  background-color: var(--surface-primary);
  color: var(--surface-secondary);
  border-color: var(--surface-primary);

  &__image {
    border-radius: var(--border-radius-m);
    border-color: var(--surface-fourth);
  }
  .x-button-menu {
    &__label {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: calc(100% - 16px);
    }
  }
  &.x-button-menu {
    &--hover,
    &:hover {
      background-color: var(--surface-fifth);
      color: var(--color-highlight);
      border-color: var(--surface-fifth);
    }

    &--disabled,
    &:disabled,
    [disabled] {
      background-color: var(--surface-fourth);
      color: var(--color-text-disabled);
      border-color: var(--surface-fourth);
    }

    &--active {
      background-color: var(--surface-secondary);
      color: var(--surface-primary);
      border-color: var(--surface-secondary);
      &::after {
        opacity: 0;
      }
    }
  }
}
