$color-white: #FFFFFF;
$color-black: #000000;

$color-primary: $color-white;
$color-secondary: $color-black;
$color-accent: #1E73F8;
$color-disable: #ADADA8;


$color-border-primary: #E9E9E6;
$color-border-secondary: #F2F2F2;
$color-border-graph: #F2F2F2;
$color-border-third: $color-accent;


$surface-primary: $color-white;
$surface-secondary: $color-black;
